body {
  font-family: 'Amiko', sans-serif;
}

.footer {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: white;
    /*position: fixed;*/
}

.nav-left {
    margin: 10px;
    padding-top: 20px;
    padding: 10px;
    list-style-type: none;
    text-align: left;
    display: inline-block;
}

.nav-right {
    margin: 10px;
    padding-top: 20px;
    padding: 10px;
    list-style-type: none;
    text-align: right;
    display: inline-block;
    float: right;
}

.bottom-bar {
  float: left;
  margin: 7px;
  padding-top: 20px;
  padding: 7px;
  color: #ff5c47;
}

.bottom-other {
  float: right;
  margin: 5px;
  padding-top: 20px;
  padding: 5px;
}

header {
  background-color: white;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: white;
  margin-bottom: 20px;
  color: #ff5c47;
}

footer {
  background-color: white;
}



/*.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: white;
  margin-bottom: 40px;
}*/

li {
  display: inline-block;
  padding: 5px;

}
.nav-image {
  width: 100%;
}

.nav-logo {
  width: 60px;
}

.title {
  display: inline-block;
  padding-right: 100px;
  /*width: 50%;*/
  /*float: right;*/
}

.title p {
  border-bottom: dashed;
  border-width: thin;
  padding-bottom: 20px;
}

.title h5 {
  border-bottom: dashed;
  border-width: thin;
  padding-bottom: 20px;
}

.btn {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: Arial;
  color: #e35b88;
  font-size: 20px;
  background: #ffffff;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.section-1 {
  display: inline-block;
  padding-left: 100px;
/*
  float: left;*/
  background: rgba(248,80,50,1);
  background: linear-gradient(to right, rgba(248,80,50,1) 0%, rgba(166,88,219,1) 0%, rgba(240,47,23,1) 91%, rgba(231,56,39,1) 100%);
}

.section-1 img {
  width: 40%;
}

/*.section-2 {
  margin-left: 50px;
}*/

section-2 nav {
  font-weight: bold;
  border-bottom: solid 1px;
  color: #ff5c47;
}

#nav-reviews {
  float:right;
  color: #ff5c47;
}

#last-p {
  padding-bottom: 20px;
}

section-3 h2 {
  text-align: center;
  display: inline-block;
  width: 100%;
  background-color: #ffe6e5;
  padding:15px;
}

.container {
  text-align: center;
  background: linear-gradient(to right, rgba(248,80,50,1) 0%, rgba(166,88,219,1) 0%, rgba(240,47,23,1) 91%, rgba(231,56,39,1) 100%);
}

.horizontal-images {
  display: inline-block;
  padding: 10px;
  width: 25%;
}

/*#blue-shoe {
  width: 25%;
  height: auto;
  display: inline-block;
}

#red-shoe {
  width: 25%;
  height: auto;
  display: inline-block;
}

#blue-shoe1 {
  width: 25%;
  height: auto;
  display: inline-block;
}*/
