/**{
  box-sizing: border-box;
}*/

body {
  font-family: 'Amiko', sans-serif;
  margin: 0;
}

.footer {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: white;
  /*position: fixed;*/
}

.nav-left {
  margin: 10px;
  padding-top: 20px;
  padding: 10px;
  list-style-type: none;
  text-align: left;
  display: inline-block;
  color: #ff5c47;
}

a:link {
  text-decoration: none;
  color: #ff5c47;
}

a:hover {
  text-decoration: underline;
  text-decoration-style: solid;
}

.nav-right {
  margin: 10px;
  padding-top: 20px;
  padding: 10px;
  list-style-type: none;
  text-align: right;
  display: inline-block;
  float: right;
}

header {
  background-color: white;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: white;
  margin-bottom: 20px;
  color: #ff5c47;
}

footer {
  background-color: white;
}

/*.nav {
list-style-type: none;
margin: 0;
padding: 0;
background-color: white;
margin-bottom: 40px;
}*/

li {
  display: inline-block;
  padding: 5px;
}

.nav-image {
  width: 100%;
}

.nav-logo {
  width: 60px;
}

.chuck-taylor {
  padding-left: 200px;
}

.title {
  display: inline-block;
  padding-left: 50px;
  /*width: 50%;*/
  /*float: right;*/
}

.title p {
  border-bottom: dashed;
  border-width: thin;
  padding-bottom: 20px;
}

.title h5 {
  border-bottom: dashed;
  border-width: thin;
  padding-bottom: 20px;
}

#target {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: Arial;
  color: #e35b88;
  font-size: 20px;
  background: #ffffff;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

#target:hover {
  background: #a658db;
  background-image: -webkit-linear-gradient(top, #a658db, #a658db);
  background-image: -moz-linear-gradient(top, #a658db, #a658db);
  background-image: -ms-linear-gradient(top, #a658db, #a658db);
  background-image: -o-linear-gradient(top, #a658db, #a658db);
  background-image: linear-gradient(to bottom, #a658db, #a658db);
  text-decoration: none;
  border-color: #a658db;
}

.section-1 {
  display: inline-block;
  width: 100%;
  /*
float: left;*/
  background: rgba(248, 80, 50, 1);
  background: linear-gradient(to right, rgba(248, 80, 50, 1) 0%, rgba(166, 88, 219, 1) 0%, rgba(240, 47, 23, 1) 91%, rgba(231, 56, 39, 1) 100%);
  padding-bottom: 20px;
}

.section-1 img {
  width: 100%;
}

.section-1 div {
  display: inline-block;
  width: 30%;
  /*padding-left: 100px;*/
}

/*.section-2 {
margin-left: 50px;
}*/

section-2 nav {
  font-weight: bold;
  border-bottom: solid 1px;
  color: #ff5c47;
  margin-left: 200px;
  margin-right: 200px;
  padding-top: 20px;
}

section-2 div {
  margin-left: 200px;
  margin-right: 200px;
}

#nav-reviews {
  float: right;
  color: #ff5c47;
}

#last-p {
  padding-bottom: 20px;
}

section-3 h2 {
  box-sizing: border-box;
  text-align: center;
  display: inline-block;
  width: 100%;
  background-color: #ffe6e5;
  padding: 15px;
  margin: 0px;
}

.container {
  padding-left: 80px;
  padding-top: 10px;
  padding-bottom: 10px;
  background: linear-gradient(to right, rgba(248, 80, 50, 1) 0%, rgba(166, 88, 219, 1) 0%, rgba(240, 47, 23, 1) 91%, rgba(231, 56, 39, 1) 100%);
}

.horizontal-images {
  display: inline-block;
  padding-left: 50px;
  width: 25%;
}

.horizontal-images img {
  width: 100%;
}

.legal {
  text-decoration: underline;
  color: black;
  font-size: 12px;
}



#blue-shoe {
padding-left: 50px;
}

#red-shoe {
padding-left: 50px;
}

#blue-shoe1 {
padding-left: 50px;
}
