

.footer {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: white;
    position: fixed;
}

.nav-left {
    margin: 10px;
    padding-top: 20px;
    padding: 10px;
    list-style-type: none;
    text-align: left;
    display: inline-block;
}

.nav-right {
    margin: 10px;
    padding-top: 20px;
    padding: 10px;
    list-style-type: none;
    text-align: right;
    display: inline-block;
    float: right;
}

.bottom-bar {
  float: left;
  margin: 7px;
  padding-top: 20px;
  padding: 7px;
}

.bottom-other {
  float: right;
  margin: 5px;
  padding-top: 20px;
  padding: 5px;
}

header {
  background-color: white;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: white;
  margin-bottom: 20px;
}

footer {
  background-color: white;
}

/*.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: white;
  margin-bottom: 40px;
}*/

li {
  display: inline-block;
  padding: 5px;

}
.nav-image {
  width: 100%;
}

.nav-logo {
  width: 60px;
}

.section-1 {
  display: inline-block;
}
